* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.hidden {
    display: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.squares {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.block {
    margin-top: 50px;
}

.square {
    box-shadow: 0 5px 10px rgb(34, 60, 80, 0.5) ;
    transition: background .2s ease;
}

.square_one {
    width: 300px;
    height: 300px;
}

.square_two {
    width: 500px;
    height: 500px;
}
.color {
    font-style: 16px;
}

.btn {
    padding: 20px 50px;
    background-repeat: 3px;
    font-style: 16px;
    font-weight: 600;
    background-color: floralwhite;
    cursor: pointer;
}